html{
  font: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #8700fd47;
  padding: 0;
  margin: 0;
}

.main-container {
  display: block;
  float: left;
  overflow: auto;
  margin: auto;
  padding:5px;
  width: 100%;
  height: 100%;
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
  text-align: center;
}

.title-box h1 {
  font-size: 6vw;
  text-shadow: 2px 2px 5px rebeccapurple;
  color: #4169e1;
  margin: 5px;
}
.founder-box h2 {
  text-shadow: 2px 2px 5px rebeccapurple;
  font-size: 4vw;
  letter-spacing: 5px;
  margin: 10px 0;
}

.img_box img {
  display: block;
  width: 30vw;
  margin: auto;
  border: 10px solid rgb(78, 48, 109);
  border-radius: 10px;
  border-style: groove;
} 

.text_box {
  word-spacing: 5px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  padding: 0 20px;
  display: inline;
}

.text_box p {
  font-size: 2vw;
  margin: 10px 0;
  padding: 5px 200px;
}

.text_box i {
  font-size: 1.2vw;
  word-spacing: 2px;
  font-family: 'Cuprum', sans-serif;
  font-weight: bold;
  display: inline-block;
  width: 50vw;
  text-align: center;
  margin: auto;
}

.wiki_link  {
  display: block;
  font-size: 3vw;
  background-color: rgb(187, 148, 199);
  font-weight: bold;
  border-radius: 5px;
  margin:auto;
  padding: 10px;
}

a:hover, a:active{
background-color: #ceb941;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
width: 80vw;
}

/* MEDIA QUERY */
@media screen and (max-width: 620px){
  .main-container {
    background-color: #7ccaf15e;
    font-family: 'Cuprum', sans-serif;
  } 
  
  .text_box p {
    font-size: 2.5vw;
    font-family: "Roboto", sans-serif;
    padding: 0 30px; 
    margin: 10px;
  }

}

